chromadb
keybert
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
openai
python-dotenv
scipy
sentence-transformers
streamlit
trafilatura
duckduckgo-search
pysqlite3-binary
